.as-card {
    border-radius: 14px;
}

.as-card-imgwrap {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.as-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.as-card-title {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 8px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* max 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.as-card-price {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 10px;
}

.as-card-meta {
    font-size: 13px;
    color: #6c757d;
}

.as-badge-new {
    background: #ffe600 !important;
    color: #111 !important;
    font-weight: 700;
    border-radius: 999px;
    padding: 6px 10px;
}

.as-save-btn {
    width: 42px;
    height: 42px;
    border-radius: 12px;
    display: grid;
    place-items: center;
}